html {
    position: relative;
    min-height: 100%;
    background-color: rgb(104, 104, 104);
}
body {
    margin-bottom: 130px; /* Margin bottom by footer height */
    background-color: rgb(104, 104, 104);
}
.footer {
    position: absolute;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    height: 110px; /* Set the fixed height of the footer here */
    /*line-height: 60px; !* Vertically center the text there *!*/
    background-color: rgb(67, 67, 67);
    color: white;
}

.container {
    width: auto;
    padding: 0 15px ;
}
a:link{
    text-decoration: none!important;
}

.my-card{
    margin-top: 50px;
    background-color: rgb(94, 94, 94);
}
.colorText{
    color: white;
}

.my-card-header{
    background-color: rgb(64, 64, 64);
    color: white;
}

.header-line{
    margin-top: 40px;
    color: white;
}

.icon-size{
    font-size: 120px;
}

#logout-icon{
    background-color: red;
    color: white;
}
#logout-card{
    background-color: darkred;
    color: white;
}
#profile-icon{
    background-color: #0090ff;
    color: white;
}
#profile-card{
    background-color: #0458ff;
    color: white;
}

#rent-icon{
    background-color: green;
    color: white;
}
#rent-card{
    background-color: darkgreen;
    color: white;
}
#newUser-icon{
    background-color: mediumpurple;
    color: white;
}
#newUser-card{
    background-color: rebeccapurple;
    color: white;
}
#cart-icon{
    background-color: #dbdb01;
    color: white;
}
#cart-card{
    background-color: #929200;
    color: white;
}

.moving-card{
}
.moving-card:hover{
    transform: scale(1.07);
    transition: 0.3s;
}

.modal-header{
    border-bottom: 1px solid #474747;
    color: white;
    background-color: rgb(94, 94, 94);
}

.modal-body{
    color: white;
    background-color: rgb(94, 94, 94);
}

.modal-footer{
    border-top: 1px solid #474747;
    color: white;
    background-color: rgb(94, 94, 94);
}