body{
    background-color: rgb(104, 104, 104);
}

.my-card{
    margin-top: 50px;
    background-color: rgb(94, 94, 94);
}

.my-card-header{
    background-color: rgb(64, 64, 64);
    color: white;
}
.header-line{
    margin-top: 40px;
    color: white;
}