<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head th:replace="template :: header"></head>

<body>
<div th:replace="template :: navbar-admin"></div>
<div class="row justify-content-center">
    <div class="col-xs-10 col-sm-10">
        <h2 class="text-center header-line">Manage Orders</h2>
        <div class="card my-card">
            <div class="card-header text-center my-card-header">Orders</div>
            <div class="card-body">
                <div class="table-responsive">
                <form th:method="post" th:object="${orders}">
                <table class="table table-hover table-borderless colorText">
                    <thead>
                    <tr>
                        <th scope="col"> Name </th>
                        <th scope="col"> Type </th>
                        <th scope="col"> Price </th>
                        <th scope="col"> Quantity </th>
                        <th scope="col"> Mark </th>
                        <th scope="col"> Status </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <th scope="row" <span  th:text="${order.clientName}"> Name</span></td>
                        <td <span th:text="${order.equipment.eqType}"> Type</span> </td>
                        <td <span th:text="${order.equipment.price}"> Price&nbsp;&nbsp;&nbsp;</span> </td>
                        <td <span th:text="${order.equipment.quantity}"> Quantity</span></td>
                        <td <span th:text="${order.equipment.eqMark}"> Mark </span></td>
                        <td <span th:text="${order.equipment.status}"> Status </span></td>
                        <td><a th:href="'/admin/showDb/orders/confirm/'+${order.id}">
                            <input type="button" class="btn btn-success" value="Confirm"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>

