<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">

<body>
<div th:replace="template :: navbar-admin"></div>

<div class="content">
<div class="container">
    <h2 class="text-center header-line" th:text="'Welcome, '+${username}+'!'"></h2>
    <div class="row justify-content-around">
        <div class="col-lg-3 col-sm-5 col-xs-8 ">
            <a href="/admin/showUsers" style="text-decoration:none;">
                <div class="card my-card text-center moving-card">
                    <div class="card-header" id="profile-icon"><span class="fa fa-users icon-size" aria-hidden="true"></span></div>
                    <div class="card-body" id="profile-card">Manage Users</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5 col-xs-8 ">
            <a href="/admin/showDb">
                <div class="card my-card text-center moving-card">
                    <div class="card-header" id="rent-icon"><span class="fa fa-list-alt icon-size" aria-hidden="true"></span></div>
                    <div class="card-body" id="rent-card">View Products</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5 col-xs-8 ">
            <a href="/admin/showDb/orders">
                <div class="card my-card text-center moving-card">
                    <div class="card-header" id="cart-icon"><span class="fa fa-cart-plus icon-size" aria-hidden="true"></span></div>
                    <div class="card-body"id="cart-card">Manage Orders</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-sm-5 col-xs-8 ">
            <a href="/admin/showUser/newUser">
                <div class="card my-card text-center moving-card">
                    <div class="card-header " id="newUser-icon"><span class="fa fa-user-plus icon-size" aria-hidden="true"></span></div>
                    <div class="card-body" id="newUser-card">Add User</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-lg-3 col-sm-5 col-xs-8 ">
            <a href="/logout">
                <div class="card my-card text-center moving-card">
                    <div class="card-header " id="logout-icon"><span class="fa fa-sign-out icon-size" aria-hidden="true"></span></div>
                    <div class="card-body" id="logout-card">Logout</div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>
