<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">

<body>
Welcome Admin!<br>

<form action="/admin/showUsers" method="get">
    <button  type="submit">Show Users</button><br>
</form>

<form action="/admin/showDb" method="get">
    <button  type="submit">Show DB and Orders</button><br>
</form>
<form action="/logout" method="get" >
    <button name="Logout" type="submit" value="Logout">Logout</button><br>
</form>
</body>
</html>
