<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
    <title>Show Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h2>Things u Can Rent</h2>

<form th:method="post"
      name="variable">
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Type </th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Mark </th>
            <th> Status </th>
        </tr>
        </thead>
        <tbody>
        <!-- Table Inscriptions -->
        <tr th:each="equipment : ${equipments}">
            <td <span  th:text="${equipment.eqName}"> Name</span></td>
            <td <span th:text="${equipment.eqType}"> Type</span> </td>
            <td <span th:text="${equipment.price}"> Price&nbsp;&nbsp;&nbsp;</span> </td>
            <td <span th:text="${equipment.quantity}"> Quantity</span></td>
            <td <span th:text="${equipment.eqMark}"> Mark </span></td>
            <td <span th:text="${equipment.status}"> Status </span></td>
<!--            <td><a th:href="'/user/addtocart/'+${equipment.id}">-->
<!--                <input type="button" value="Add to Cart"><br>-->
<!--            </a></td>-->
        </tr>
        </tbody>
    </table>

    <a href="/admin/showDb/orders" >
        <input type="button" value="Orders">
    </a>


</form>
</body>
</html>

