<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>

<body>
<div class="container">
<div th:fragment="content">
    <form name="f" action="#" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Wrong input!
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You've been successfully logout!
            </div>
            <input type="text" id="username" name="username" placeholder="Username"/> <br>
            <input type="password" id="password" name="password" placeholder="Password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>

                <a href="/registration">
                    <button type="button" class="btn"> Sign in</button>
                </a>

            </div>
        </fieldset>
    </form>
</div>
</div>
<!--<form>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleInputEmail1">Email address</label>-->
<!--        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleInputPassword1">Password</label>-->
<!--        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--    </div>-->
<!--    <div class="form-group form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
</body>
</html>