<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div >
    <h1>Add new User</h1>
    <form action="#" th:action="@{/admin/showUser/newUser/confirm}" th:object="${newClient}"
          method="post">
        UserName&nbsp;&nbsp; <input type="text" th:field="*{username}"/><br>
        Password&nbsp;&nbsp; <input type="text" th:field="*{password}"/><br>
        E-Mail&nbsp;&nbsp;&nbsp;<input type="text" th:field="*{email}"/><br>
        Adress&nbsp;&nbsp;&nbsp;<input type="text" th:field="*{adress}"/><br>
        Telephone&nbsp;&nbsp;<input type="text" th:field="*{telephone}"/><br>
        Role(admin/user)&nbsp;&nbsp;<input type="text" name="role"/><br>
        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>