<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">                     << do czego to jest? -->

<body>

<h2>Things u Can Rent</h2>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Type </th>
        <th> Price </th>
        <th> Quantity </th>
        <th> Mark </th>
        <!--        <th> Authorities </th>-->

    </tr>
    </thead>
    <tbody>

    <tr th:each="equipments : ${equipment}">
        <td><span th:text="${equipments.eqName}"> Name </span></td>
        <td><span th:text="${equipments.eqType}"> Type </span></td>
        <td><span th:text="${equipments.price}"> Price&nbsp;&nbsp;&nbsp; </span></td>
        <td><span th:text="${equipments.quantity}"> Quantity </span></td>
        <td><span th:text="${equipments.eqMark}"> Mark </span></td>
        <!--        <td><span th:text="${client.authorities}"> Authorities </span></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>

