<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">                     << do czego to jest? -->

<body>
<div th:replace="template :: navbar-user"></div>

<h2>Things u Can Rent</h2>

<form th:method="post"
name="variable">
    <table>
        <thead>
        <tr>
                    <th> Name </th>
                    <th> Type </th>
                    <th> Price </th>
                    <th> Quantity </th>
                    <th> Mark </th>
                    <th> Status </th>
        </tr>
        </thead>
        <tbody>
        <!-- Table Inscriptions -->
        <tr th:each="equipment : ${equipments}">
            <td <span  th:text="${equipment.eqName}"> Name</span></td>
            <td <span th:text="${equipment.eqType}"> Type</span> </td>
            <td <span th:text="${equipment.price}"> Price&nbsp;&nbsp;&nbsp;</span> </td>
            <td <span th:text="${equipment.quantity}"> Quantity</span></td>
            <td <span th:text="${equipment.eqMark}"> Mark </span></td>
            <td <span th:text="${equipment.status}"> Status </span></td>
            <td><a th:href="'/user/addtocart/'+${equipment.id}">
                <input type="button" value="Add to Cart"><br>
            </a></td>
        </tr>
        </tbody>
    </table>

    <a href="/user/showcart/" >
        <input type="button" value="Your cart">
    </a>


</form>
</body>
</html>

