<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>

<body>
<div th:replace="template :: navbar-admin"></div>
<h2>List of Users</h2>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Adress </th>
        <th> Telephone </th>
        <th> Roles </th>
<!--        <th> Authorities </th>-->
    </tr>
    </thead>
    <tbody>

    <tr th:each="client : ${clients}">
        <td><span th:text="${client.username}"> Name </span></td>
        <td><span th:text="${client.email}"> Email </span></td>
        <td><span th:text="${client.adress}"> Adress&nbsp;&nbsp;&nbsp; </span></td>
        <td><span th:text="${client.telephone}"> Telephone </span></td>
        <td><span th:text="${client.roles}"> Roles </span></td>
        <td><a th:href="'/editUsers/'+${client.username}">
            <input type="button" value="Edit"><br>
        </a></td>
        <td><a th:href="'/addtocart/'+${client.username}">
            <input type="button" value="Delete"><br>
        </a></td>
<!--        <td><span th:text="${client.authorities}"> Authorities </span></td>&ndash;&gt;-->
    </tr>
    </tbody>
</table>
<form action="/admin/showUser/newUser" method="get" >
    <button name="addUser" class="btn btn-danger" type="submit" value="addUser">Add new User</button>
</form>
<form action="/logout" method="get" >
    <button name="Logout" type="submit" value="Logout">Logout</button>
</form>
</body>
</html>

