<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>

<body>
<div th:replace="template :: navbar-admin"></div>
<div class="row justify-content-center">
    <div class="col-sm-10 col-xs-10">
        <h2 class="text-center header-line">List of Users</h2>
        <div class="card my-card">
            <div class="card-header text-center my-card-header">Users</div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-hover table-borderless colorText">
                        <thead>
                        <tr>
                            <th scope="col"> Name </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> Adress </th>
                            <th scope="col"> Telephone </th>
                            <th scope="col"> Roles </th>
                            <th scope="col"> Actions </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${clients}">
                            <th scope="row"><span th:text="${client.username}"> Name </span></th>
                            <td><span th:text="${client.email}"> Email </span></td>
                            <td><span th:text="${client.adress}"> Adress&nbsp;&nbsp;&nbsp; </span></td>
                            <td><span th:text="${client.telephone}"> Telephone </span></td>
                            <td><span th:text="${client.roles}"> Roles </span></td>
                            <td><a th:href="'/editUsers/'+${client.username}"><button type="button" class="btn btn-primary">Edit</button></a></td>
                            <td><a th:href="'/deleteUser/'+${client.username}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>

