<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title th:text="${title}">test</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="U-XA-Comaptible" content="IE=egde,chrome=1"/>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.5.1/jquery.slim.min.js" type="text/javascript"></script>
    <script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="webjars/popper.js/1.16.1/dist/umd/popper.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
    <p th:fragment="footer">

    </p>
</body>
</html>