<!DOCTYPE html>

<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
</head>

<body>
Welcome user!<br>
<form action="/user/showdb" method="get" >
		<button name="showDB" type="submit" value="showDB">Things u Can Rent!</button>
	</a>
</form>


<form action="/logout" method="get" >
		<button name="Logout" type="submit" value="Logout">Logout</button>
</form>
<div id="button">
	<a href="/editUser">
		<button>Edit</button>
	</a>
</div>
</body>
</html>