<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
Welcome user!<br>

<form action="/welcome/showDb" method="get" >
		<button name="showDB" type="submit" value="showDB">Things u Can Rent!</button>
	</a>
</form>


<form action="/logout" method="get" >
		<button name="Logout" type="submit" value="Logout">Logout</button>
</form>
<div id="button">
	<a href="/editUser">
		<button>Edit</button>
	</a>
</div>
</body>
</html>